
@model Employee

@{
    ViewData["Title"] = "Create";
    // ViewBag.Departments = _departmentRepo.GetAll();
}


<h1>Create A New Employee</h1>
<br />
<br />

<form asp-action="Create">
    
    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Create" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</form>

@section Validation
{

    <partial name="_ValidationScriptsPartial" />
  @*   <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
}

