@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>
<br />
<br />

<div>
    <img src="~/files/images/@Model.ImageName" class="img-fluid rounded-circle" width="75" height="75" alt="Employee Image" />
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Save" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-info">Cancel</a>

</form>

