
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">

          <div class="body">
              <div>
                  <p>Password Reset Link Has Been Sent To Your Email!</p>
              </div>
              <a href="https://mail.google.com/mail/u/0/#index">Your Inbox</a>
            </div>
	</div>
</div>

@section Validation
{
	<partial name="_ValidationScriptsPartial"> </partial>
}

