
@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">

		<div asp-validation-summary="ModelOnly"></div>

		<form asp-action="SendRestPasswordEmail">
			<input class="text email" name="Email" placeholder="Email" required="">
			<input type="submit" value="SIGNIN">
		</form>
	</div>
</div>

@section Validation
{
	<partial name="_ValidationScriptsPartial"> </partial>
}


